#boxes {
  display: flex;
  justify-self: center;
  align-items: center;
}

.box {
  width: 200px;
  height: 200px;
  margin: 2px;
  -webkit-box-shadow: 9px 11px 22px -3px rgba(66, 68, 90, 1);
  -moz-box-shadow: 9px 11px 22px -3px rgba(66, 68, 90, 1);
  box-shadow: 9px 11px 22px -3px rgba(66, 68, 90, 1);
}

h1 {
  text-align: center;
  font-size: 50px;
}
